In [0]:
data = [(1,'Jyothi',2000),(2,'lahari',3000),(3,'Putta',4000)]
schema = ('id','name','salary')

df = spark.createDataFrame(data,schema)
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Jyothi|  2000|
|  2|lahari|  3000|
|  3| Putta|  4000|
+---+------+------+

In [0]:
df1 = df.select(df.id.alias('emp_id'),df.name.alias('emp_name'),df.salary.alias('emp_salary'))
df1.show()

+------+--------+----------+
|emp_id|emp_name|emp_salary|
+------+--------+----------+
|     1|  Jyothi|      2000|
|     2|  lahari|      3000|
|     3|   Putta|      4000|
+------+--------+----------+

In [0]:
df2 = df.sort(df.name.desc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  2|lahari|  3000|
|  3| Putta|  4000|
|  1|Jyothi|  2000|
+---+------+------+

In [0]:
df3 = df.sort(df.name.asc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Jyothi|  2000|
|  3| Putta|  4000|
|  2|lahari|  3000|
+---+------+------+

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
df4 = df.select(df.id,df.name,df.salary)
df4.show()
df4.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Jyothi|  2000|
|  2|lahari|  3000|
|  3| Putta|  4000|
+---+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
df5 = df.select(df.id,df.name,df.salary.cast('int'))
df5.show()
df5.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Jyothi|  2000|
|  2|lahari|  3000|
|  3| Putta|  4000|
+---+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
data = [(1, 'Lahari', 'M',2000), (2, 'Jyothi', 'M', 4000), (3, 'Putta', 'F' ,3000)]
schema = ['id', 'name', 'gender' , 'salary']
df = spark.createDataFrame(data, schema)
df. filter(df. name. like ('m%') ) .show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
+---+----+------+------+