In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('class').getOrCreate()
spark

24/03/12 14:50:52 WARN Utils: Your hostname, Puttas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.101.159 instead (on interface en0)
24/03/12 14:50:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/12 14:50:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/12 14:50:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [13]:
#drop the columns
df_pyspark.drop('Name').show()

+------------+------+
|  Department|Salary|
+------------+------+
|Data Science| 10000|
|         IOT|  5000|
|     Bigdata|  4000|
|     Bigdata|  NULL|
|Data Science| 20000|
|Data Science| 10000|
|         IOT|  5000|
|     Bigdata| 10000|
|        NULL|  8000|
+------------+------+

In [43]:
df_pyspark=spark.read.csv('test2.csv',header=True)

In [44]:
df_pyspark.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [45]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: string (nullable = true)

In [46]:
df_pyspark.na.drop().show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
+-------+------------+------+

In [47]:
#any==how
df_pyspark.na.drop(how='any')

DataFrame[Name: string, Department: string, Salary: string]

In [21]:
df_pyspark.na.drop(how='all')

DataFrame[Name: string, Department: string, Salary: int]

In [23]:
df_pyspark.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
|  Krish|        NULL|  8000|
+-------+------------+------+

In [30]:
#threshold
df_pyspark.na.drop(how="any",thresh=2)

DataFrame[Name: string, Department: string, Salary: int]

In [31]:
#subset
df_pyspark.na.drop(how="any",subset=['Department']).show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|   john|Data Science| 10000|
|Stephen|         IOT|  5000|
|   NULL|     Bigdata|  4000|
|   paul|     Bigdata|  NULL|
|  Krish|Data Science| 20000|
|    Joe|Data Science| 10000|
|Stephen|         IOT|  5000|
|   jack|     Bigdata| 10000|
+-------+------------+------+

In [38]:
#filling the missing value

df_pyspark.na.fill('value missing').show()

+-------------+-------------+------+
|         Name|   Department|Salary|
+-------------+-------------+------+
|         john| Data Science| 10000|
|      Stephen|          IOT|  5000|
|value missing|      Bigdata|  4000|
|         paul|      Bigdata|  NULL|
|        Krish| Data Science| 20000|
|          Joe| Data Science| 10000|
|      Stephen|          IOT|  5000|
|         jack|      Bigdata| 10000|
|        Krish|value missing|  8000|
+-------------+-------------+------+

In [51]:
df_pyspark.na.fill('value missing',['Name','Department','Salary']).show()

+-------------+-------------+-------------+
|         Name|   Department|       Salary|
+-------------+-------------+-------------+
|         john| Data Science|        10000|
|      Stephen|          IOT|         5000|
|value missing|      Bigdata|         4000|
|         paul|      Bigdata|value missing|
|        Krish| Data Science|        20000|
|          Joe| Data Science|        10000|
|      Stephen|          IOT|         5000|
|         jack|      Bigdata|        10000|
|        Krish|value missing|         8000|
+-------------+-------------+-------------+