In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in ./anaconda3/lib/python3.11/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in ./anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

To start pyspark session

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise').getOrCreate()
spark

24/03/12 15:01:27 WARN Utils: Your hostname, Puttas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.101.159 instead (on interface en0)
24/03/12 15:01:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/12 15:01:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
df_pyspark=spark.read.csv('EntriesGender.csv')

In [6]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [7]:
df_pyspark.show()

+--------------------+------+----+-----+
|                 _c0|   _c1| _c2|  _c3|
+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|                Null|   969|1072| 2041|
|           Badminton|  Null|  87|  173|
|   Baseball/Softball|    90|Null|  234|
|          Basketball|   144| 144| NULL|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
+--------------------+------+----+-----+
only showing top 20 rows

In [8]:
df_pyspark=spark.read.option('header','true').csv('EntriesGender.csv')

In [9]:
df_pyspark.head(3)

[Row(Discipline='3x3 Basketball', Female='32', Male='32', Total='64'),
 Row(Discipline='Archery', Female='64', Male='64', Total='128'),
 Row(Discipline='Artistic Gymnastics', Female='98', Male='98', Total='196')]

In [10]:
df_pyspark.printSchema(3)

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)

In [11]:
#inferschema()
df_pyspark=spark.read.csv('EntriesGender.csv',header=True,inferSchema=True)

In [12]:
df_pyspark.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|                Null|   969|1072| 2041|
|           Badminton|  Null|  87|  173|
|   Baseball/Softball|    90|Null|  234|
|          Basketball|   144| 144| NULL|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|  NULL| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [13]:
#Selecting Columns
df_pyspark.columns

['Discipline', 'Female', 'Male', 'Total']

In [15]:
#To get first column
df_pyspark.select('Discipline')

DataFrame[Discipline: string]

In [16]:
type(df_pyspark.select('Discipline'))

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.select(['Discipline','Female'])

DataFrame[Discipline: string, Female: string]

In [18]:
df_pyspark.dtypes

[('Discipline', 'string'),
 ('Female', 'string'),
 ('Male', 'string'),
 ('Total', 'string')]

In [19]:
df_pyspark.describe

In [20]:
#adding col & deleting col

df_pyspark=df_pyspark.withColumn('Total after adding 2',df_pyspark['Total']+2)

In [21]:
df_pyspark.show()

+--------------------+------+----+-----+--------------------+
|          Discipline|Female|Male|Total|Total after adding 2|
+--------------------+------+----+-----+--------------------+
|      3x3 Basketball|    32|  32|   64|                66.0|
|             Archery|    64|  64|  128|               130.0|
| Artistic Gymnastics|    98|  98|  196|               198.0|
|   Artistic Swimming|   105|   0|  105|               107.0|
|                Null|   969|1072| 2041|              2043.0|
|           Badminton|  Null|  87|  173|               175.0|
|   Baseball/Softball|    90|Null|  234|               236.0|
|          Basketball|   144| 144| NULL|                NULL|
|    Beach Volleyball|    48|  48|   96|                98.0|
|              Boxing|   102| 187|  289|               291.0|
|        Canoe Slalom|    41|  41|   82|                84.0|
|        Canoe Sprint|   123| 126|  249|               251.0|
|Cycling BMX Frees...|    10|   9|   19|                21.0|
|  Cycling BMX Racing|    24|  24|   48|                50.0|
|Cycling Mountain ...|    38|  38|   76|                78.0|
|        Cycling Road|    70| 131|  201|               203.0|
|       Cycling Track|    90|  99|  189|               191.0|
|              Diving|    72|  71|  143|               145.0|
|          Equestrian|    73| 125|  198|               200.0|
|             Fencing|  NULL| 108|  215|               217.0|
+--------------------+------+----+-----+--------------------+
only showing top 20 rows

In [22]:
df_pyspark=df_pyspark.drop('Total after adding 2')

In [23]:
df_pyspark.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|                Null|   969|1072| 2041|
|           Badminton|  Null|  87|  173|
|   Baseball/Softball|    90|Null|  234|
|          Basketball|   144| 144| NULL|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|  NULL| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [24]:
df_pyspark=df_pyspark.withColumnRenamed('Male','Males')

In [25]:
df_pyspark.show()

+--------------------+------+-----+-----+
|          Discipline|Female|Males|Total|
+--------------------+------+-----+-----+
|      3x3 Basketball|    32|   32|   64|
|             Archery|    64|   64|  128|
| Artistic Gymnastics|    98|   98|  196|
|   Artistic Swimming|   105|    0|  105|
|                Null|   969| 1072| 2041|
|           Badminton|  Null|   87|  173|
|   Baseball/Softball|    90| Null|  234|
|          Basketball|   144|  144| NULL|
|    Beach Volleyball|    48|   48|   96|
|              Boxing|   102|  187|  289|
|        Canoe Slalom|    41|   41|   82|
|        Canoe Sprint|   123|  126|  249|
|Cycling BMX Frees...|    10|    9|   19|
|  Cycling BMX Racing|    24|   24|   48|
|Cycling Mountain ...|    38|   38|   76|
|        Cycling Road|    70|  131|  201|
|       Cycling Track|    90|   99|  189|
|              Diving|    72|   71|  143|
|          Equestrian|    73|  125|  198|
|             Fencing|  NULL|  108|  215|
+--------------------+------+-----+-----+
only showing top 20 rows