In [0]:
data = [(1,'Lavanya'),(2,'Deekshit'),(3,'Lahari'),(4,'Raja'),(5,'saru')]
schema = ('Id','Name')

df = spark.createDataFrame(data=data,schema=schema)
df.show()

+---+--------+
| Id|    Name|
+---+--------+
|  1| Lavanya|
|  2|Deekshit|
|  3|  Lahari|
|  4|    Raja|
|  5|    saru|
+---+--------+

In [0]:
data = [(1,'Lavanyaasdfghjklkjhgfdssdcv'),(2,'Deekshitsadfghjkiyhtgrfds'),(3,'Laharisdcfghjuyhtre'),(4,'Rajacvfghtredvfbg'),(5,'sarudfghjkyhtrsadfgh')]
schema = ('Id','Name')

df = spark.createDataFrame(data=data,schema=schema)
df.show() ###only 20 letters will dislpay###

+---+--------------------+
| Id|                Name|
+---+--------------------+
|  1|Lavanyaasdfghjklk...|
|  2|Deekshitsadfghjki...|
|  3| Laharisdcfghjuyhtre|
|  4|   Rajacvfghtredvfbg|
|  5|sarudfghjkyhtrsadfgh|
+---+--------------------+

In [0]:
df.show(truncate =8)

+---+--------+
| Id|    Name|
+---+--------+
|  1|Lavan...|
|  2|Deeks...|
|  3|Lahar...|
|  4|Rajac...|
|  5|sarud...|
+---+--------+

In [0]:
df.show(n=4,truncate = False)

+---+---------------------------+
|Id |Name                       |
+---+---------------------------+
|1  |Lavanyaasdfghjklkjhgfdssdcv|
|2  |Deekshitsadfghjkiyhtgrfds  |
|3  |Laharisdcfghjuyhtre        |
|4  |Rajacvfghtredvfbg          |
+---+---------------------------+
only showing top 4 rows

In [0]:
df.show(n= 5,truncate = False , vertical= True)

-RECORD 0---------------------------
 Id   | 1
 Name | Lavanyaasdfghjklkjhgfdssdcv
-RECORD 1---------------------------
 Id   | 2
 Name | Deekshitsadfghjkiyhtgrfds
-RECORD 2---------------------------
 Id   | 3
 Name | Laharisdcfghjuyhtre
-RECORD 3---------------------------
 Id   | 4
 Name | Rajacvfghtredvfbg
-RECORD 4---------------------------
 Id   | 5
 Name | sarudfghjkyhtrsadfgh