In [0]:
data = [(1,'Putta',1000),(2,'Raja',3000),(3,'Saru',4000),(4,'Lavanya',5000),(5,'Lahari',6000),(6,'Deekshit',2000)]
columns = ('id','Name','Salary')
df = spark.createDataFrame(data=data,schema=columns)
df.show()

+---+--------+------+
| id|    Name|Salary|
+---+--------+------+
|  1|   Putta|  1000|
|  2|    Raja|  3000|
|  3|    Saru|  4000|
|  4| Lavanya|  5000|
|  5|  Lahari|  6000|
|  6|Deekshit|  2000|
+---+--------+------+

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

In [0]:
from pyspark.sql.functions import col

In [0]:
df1 = df.withColumn(colName='salary',col = col('salary').cast('Integer'))

In [0]:
df.show()

+---+--------+------+
| id|    Name|Salary|
+---+--------+------+
|  1|   Putta|  1000|
|  2|    Raja|  3000|
|  3|    Saru|  4000|
|  4| Lavanya|  5000|
|  5|  Lahari|  6000|
|  6|Deekshit|  2000|
+---+--------+------+

In [0]:
df1.show()

+---+--------+------+
| id|    Name|salary|
+---+--------+------+
|  1|   Putta|  1000|
|  2|    Raja|  3000|
|  3|    Saru|  4000|
|  4| Lavanya|  5000|
|  5|  Lahari|  6000|
|  6|Deekshit|  2000|
+---+--------+------+

In [0]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
df2 = df.withColumn('salary',col('salary')*2)

In [0]:
df2.show()

+---+--------+------+
| id|    Name|salary|
+---+--------+------+
|  1|   Putta|  2000|
|  2|    Raja|  6000|
|  3|    Saru|  8000|
|  4| Lavanya| 10000|
|  5|  Lahari| 12000|
|  6|Deekshit|  4000|
+---+--------+------+

In [0]:
from pyspark.sql.functions import lit

In [0]:
df3 = df2.withColumn('Country',lit('India'))

In [0]:
df3.show()

+---+--------+------+-------+
| id|    Name|salary|Country|
+---+--------+------+-------+
|  1|   Putta|  2000|  India|
|  2|    Raja|  6000|  India|
|  3|    Saru|  8000|  India|
|  4| Lavanya| 10000|  India|
|  5|  Lahari| 12000|  India|
|  6|Deekshit|  4000|  India|
+---+--------+------+-------+

In [0]:
df3.printSchema()

root
 |-- id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- Country: string (nullable = false)

In [0]:
df3 = df2.withColumn(colName='salary',col=col('salary').cast('Integer'))

In [0]:
df3.printSchema()

root
 |-- id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
df4 = df3.withColumn('copiedsalary',col=col('salary'))

In [0]:
df4.show()

+---+--------+------+------------+
| id|    Name|salary|copiedsalary|
+---+--------+------+------------+
|  1|   Putta|  2000|        2000|
|  2|    Raja|  6000|        6000|
|  3|    Saru|  8000|        8000|
|  4| Lavanya| 10000|       10000|
|  5|  Lahari| 12000|       12000|
|  6|Deekshit|  4000|        4000|
+---+--------+------+------------+

In [0]:
df4.printSchema()

root
 |-- id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- copiedsalary: integer (nullable = true)