In [0]:
data = [(1,'Lahari',1000),(2,'Lavanya',3000),(3,'Deekshit',4000)]
columns = ['id','Name','salary']
df = spark.createDataFrame(data=data,schema=columns)
df.show()

+---+--------+------+
| id|    Name|salary|
+---+--------+------+
|  1|  Lahari|  1000|
|  2| Lavanya|  3000|
|  3|Deekshit|  4000|
+---+--------+------+

In [0]:
df2 = df.withColumnRenamed('salary','salary_credited')
df2.show()

+---+--------+---------------+
| id|    Name|salary_credited|
+---+--------+---------------+
|  1|  Lahari|           1000|
|  2| Lavanya|           3000|
|  3|Deekshit|           4000|
+---+--------+---------------+

In [0]:
df2.printSchema()

root
 |-- id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary_credited: long (nullable = true)

In [0]:
from pyspark.sql.functions import col
df3 = df.withColumn(colName='salary',col = col('salary').cast('Integer'))

In [0]:
df3.printSchema()

root
 |-- id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
df4 = df3.withColumn(colName='id',col = col('salary').cast('Integer'))

In [0]:
df4.show()

+----+--------+------+
|  id|    Name|salary|
+----+--------+------+
|1000|  Lahari|  1000|
|3000| Lavanya|  3000|
|4000|Deekshit|  4000|
+----+--------+------+

In [0]:
df4.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary: integer (nullable = true)